@page
@model ForgotPasswordModel
@{
    Layout = null;
    ViewData["Title"] = "Forgot your password?";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - WorkshopPlatform</title>

    <!-- CSS Files -->
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/sb-admin-2.min.css" />
    <link href="~/css/site.min.css" rel="stylesheet" />
</head>

<body class="login--page forgot-password-page">
    <div class="container justify-content-center" style="margin-top:2em">
        <div class="row justify-content-center">
            <div class="col-11 col-md-9 col-lg-7">
                <div class="card" style="padding-top:0.5em">
                    <div class="card-body pl-5 pr-5 pl-sm-0 pr-sm-0">
                        <div class="text-center">
                            <img class="mb-2" id="password-img" src="~/imgs/lock password.png" alt="Lock password" width="200">
                            <h1 class="h3 text-primary">@ViewData["Title"]</h1>
                            <div class="row justify-content-center">
                                <div class="mb-3 text-muted col-9">
                                    <p class="small text-muted"> We get it, Just enter your email address below and we'll send you a link to reset your password! </p>
                                    <form method="post">
                                        <div class="form-group">
                                            <input asp-for="Input.Email" type="email" placeholder="Enter your Email" class="form-control" />
                                            <span asp-validation-for="Input.Email" class="small text-danger"></span>
                                        </div>
                                        <button type="submit" class="btn btn-primary text-white w-100">Send Email</button>
                                    </form>
                                    <hr style="width: 85%">
                                    <div class="small">
                                        <a asp-page="Register" class="d-block pb-1"> Create an Account</a>
                                        Already have an account?  <a asp-page="Login"> Login</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <partial name="_ValidationScriptsPartial" />
</body>
</html>