@page
@model ResetPasswordModel
@{
    Layout = null;
    ViewData["Title"] = "Reset password";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - WorkshopPlatform</title>

    <!-- CSS Files -->
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
    <link href="~/css/site.min.css" rel="stylesheet" />

    <style>
        #submit {
            border: 0;
            border-radius: 0;
            width: 100%;
            margin-top: 2em;
        }
    </style>
</head>
<body class="login--page forgot-password-page">
    <div class="container justify-content-center" style="margin-top:2em">
        <div class="row justify-content-center">
            <div class="col-11 col-md-9 col-lg-7">
                <div class="card" style="padding-top:0.5em">
                    <div class="card-body pl-5 pr-5 pl-sm-0 pr-sm-0">
                        <div class="text-center">
                            <img class="mb-2" id="password-img" src="~/imgs/unlocked user interface abstract.png" alt="unlocked user interface" width="200">
                            <h1 class="h2 text-primary">@ViewData["Title"]</h1>
                        </div>
                        <div class="row justify-content-center">
                            <div class="mb-3 text-muted col-9">
                                <form method="post">
                                    <div class="form-group">
                                        <input asp-for="Input.Password" placeholder="Enter new password" class="form-control" />
                                        <span asp-validation-for="Input.Password" class="small text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <input asp-for="Input.ConfirmPassword" placeholder="Repeat new password" class="form-control" />
                                        <span asp-validation-for="Input.ConfirmPassword" class="small text-danger"></span>
                                    </div>

                                    <input asp-for="Input.Code" type="hidden" />
                                    <input asp-for="Input.Email" type="hidden" />

                                    <button id="submit" type="submit" class="btn btn-primary text-white">Reset Password</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <partial name="_ValidationScriptsPartial" />
</body>
</html>