@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<div class="register-confirm-page">
    <div class="row justify-content-center">
        <div class="col-12" style="margin-bottom: 8em;">
            <div class="text-center p-3">
                <img src="~/imgs/password_changed.png" alt="Verified" height="400">
                <div class="mb-3 text-muted">
                    <h1 class="h1"> Your password has been reset</h1>
                    <span class="h5">  Please <a asp-page="./Login">click here to log in</a> </span>
                </div>
            </div>
        </div>
    </div>
</div>