@page "/settings/preferences"

@model PersonalDataModel
@{
    ViewData["Title"] = "PersonalData";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
@{ if (TempData["Done"] != null)
    {
        <div class="alert alert-primary alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            @TempData["Done"]
        </div>
    }
}
<h4 class="text-muted page-title">Change your preferences</h4>
<div class="row">
    <div class="col-md-12 pl-lg-5 pr-lg-5">
        <form id="profile-form" class="setting-form" method="post">
            <div class="form-group pb-2">
                <div class="row">
                    <label asp-for="Input.City" class="col-12 col-md-3"></label>
                    <input asp-for="Input.City" class="col-12 col-md-9 form-control" />
                </div>  <div class="row">
                    <div class="d-none d-md-block col-3"></div>
                    <div class="col-12 col-md-9">
                        <span asp-validation-for="Input.City" class="small text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group pb-2">
                <div class="row">
                    <label asp-for="Input.Government" class="col-12 col-md-3"></label>
                    <input asp-for="Input.Government" class="col-12 col-md-9 form-control" />
                </div>  <div class="row">
                    <div class="d-none d-md-block col-3"></div>
                    <div class="col-12 col-md-9">
                        <span asp-validation-for="Input.Government" class="small text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group pb-2">
                <div class="row">
                    <label asp-for="Input.CarBrand" class="col-12 col-md-3"></label>
                    <input asp-for="Input.CarBrand" class="col-12 col-md-9 form-control" />
                </div>  <div class="row">
                    <div class="d-none d-md-block col-3"></div>
                    <div class="col-12 col-md-9">
                        <span asp-validation-for="Input.CarBrand" class="small text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group pb-2">
                <div class="row">
                    <label asp-for="Input.CarModel" class="col-12 col-md-3"></label>
                    <input asp-for="Input.CarModel" class="col-12 col-md-9 form-control" />
                </div>  <div class="row">
                    <div class="d-none d-md-block col-3"></div>
                    <div class="col-12 col-md-9">
                        <span asp-validation-for="Input.CarModel" class="small text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group row mb-5 justify-content-end">
                <button id="update-profile-button" type="submit" class="btn btn-primary btn-rounded">Save</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}