<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Warsha</title>
    <link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.css" />
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/css/site.min.css" rel="stylesheet" />
</head>
<body>
    <header class="main--header">
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top  shadow justify-content-between">

            <div class="website--logo nav-item">
                <a class="nav-link text-dark" asp-controller="Home" asp-action="Index">Warsha</a>
            </div>
            @*<div class="ml-lg-5 ml-md-2 d-none d-md-block nav-item nav-item-link">
                    <a class="nav-link" asp-controller="WorkShops" asp-action="Index">workshops</a>
                </div>*@

            @await Component.InvokeAsync("NavHeader")
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="container">
                        <div class="footer--logo--icon">
                            <h1 class="website--logo">Warsha</h1>
                            <div class="footer--icons">
                                <a href="#" target="_blanck"><i class="fab fa-facebook-square"></i></a>
                                <a href="#" target="_blanck">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="#" target="_blanck">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                        <div class="footer--links">
                            <div class="footer--frist--links">
                                <ul class="footer--frist--links--items">
                                    <li class="footer--frist--links--item">
                                        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                    </li>
                                    <li class="footer--frist--links--item">
                                        <a href="#">Services </a>
                                        <br />
                                        <p class="sub--link sub"><a href="#">Emergancy</a></p>
                                        <p class="sub--link"><a asp-controller="WorkShops" asp-action="Index">Workshops</a></p>
                                    </li>
                                    <li class="sub">
                                        <a href="#">About us</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="footer--second--links">
                                <ul class="footer--frist--links--items">
                                    <li class="footer--frist--links--item">
                                        <a href="#">Contact</a>
                                    </li>
                                    <li class="footer--frist--links--item">
                                        <a asp-area="Identity" asp-page="/Account/Login">Sign In</a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="cointainer">
                            <div class="footer--contact">
                                <p>
                                    <a href="tel:19611" style="margin-left:10px;">
                                        <i class="fas fa-phone-alt icon"></i> 19611 - 01140293248
                                    </a>
                                </p>
                                <p>
                                    <a href="mailto:Warsha@hotmail.com">
                                        <i class="far fa-envelope icon"></i>
                                        Warsha@hotmail.com
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - WorkshopPlatform - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/Core/popper.min.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>