.profile-page {
    .emp-profile {
        padding: 3%;
        margin-top: 3%;
        margin-bottom: 1%;
        border-radius: 0.5rem;
        background: #fff;
        .profile-head {
            h3 {
                margin: 10px 15px 0 0;
                color: #e2ad21;
            }
            h5 {
                margin-top: 15px;
            }
        }
        .profile-img {
            text-align: center;
            img {
                width: 250px;
                height: 250px;
            }
        }
    }
    .profile-edit-btn {
        background-color: #e2ad21;
        margin-left: 35px;
        color: white;
        font-size: 20px;
        width: 440px;
        height: 50px;
        border: none;
        border-radius: 40px;
        width: 150px;
        float: right;
        margin-right: 35px;
        &:hover {
            background-color: #d89216;
        }
        cursor: pointer;
    }
    .nav-tabs {
        margin-bottom: 2%;
        .nav-link {
            font-weight: 600;
            border: none;
            color: $info;
            border-bottom: 2px solid #e2ad21;
        }
    }
    .profile-tab {
        label {
            font-weight: 400;
            margin-top: 1%;
            color: $info;
        }
        p {
            font-weight: 400;
            font-size: 20px;
            margin-top: 1%;
        }
    }
    #profile-tab {
        border-bottom: none;
    }
    #profile {
        display: none;
    }
    #home {
        display: block;
    }
}