.workshop--page {
    .container {
        max-width: 1250px;
        margin: 30px auto 30px;
        padding: 0 !important;
        width: 90%;
        background-color: #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.10), 0 3px 6px rgba(0, 0, 0, 0.10);
    }
    header {
        background: $dark;
        background-image: url("");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 250px;
        .row {
            display: none;
            background: hsla(0, 0%, 0%, 0.308);
            padding-top: 25px;
            padding-right: 20px;
            height: 100%;
            width: 100%;
            margin-left: 0px;
        }
        i {
            display: none;
            cursor: pointer;
            font-size: 28px !important;
            color: $light;
        }
        &:hover {
            .row {
                display: flex;
            }
            i {
                display: inline;
            }
        }
        a:hover {
            text-decoration: none;
        }
    }
    @media (max-width:800px) {
        header {
            height: 150px;
        }
        header i {
            right: -90%;
        }
    }
    main {
        padding: 20px 20px 0px 20px;
    }
    .left {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .photo {
        width: 200px;
        height: 200px;
        margin-top: -120px;
        border-radius: 100px;
        border: 4px solid $light;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.16), 0 3px 3px rgba(0, 0, 0, 0.23);
    }
    .photo:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    .active-icon {
        width: 20px;
        height: 20px;
        border-radius: 20px;
        position: absolute;
        right: calc(50% - 70px);
        top: 75px;
        background-color: #FFC107;
        border: 3px solid #fff;
    }
    @media (max-width:990px) {
        .active {
            right: calc(50% - 60px);
            top: 50px;
        }
    }
    .name {
        margin-top: 20px;
        font-weight: 600;
        font-size: 18pt;
        color: $primary;
        &:hover {
            text-decoration: none;
        }
    }
    .info {
        margin-top: -5px;
        margin-bottom: 5px;
        font-size: 11pt;
        color: #6c757d;
    }
    .stats {
        width: 80%;
        margin-top: 25px;
        text-align: center;
        padding-bottom: 20px;
        border-bottom: 1px solid #ededed;
    }
    .contacts {
        width: 80%;
        display: block;
        padding-top: 35px;
        padding-bottom: 40px;
        font-size: 12pt;
        border-bottom: 1px solid #ededed;
        color: $gray-300;
        i {
            padding-right: 10px;
            color: $gray-200;
        }
    }
    .number-stat {
        padding: 0px;
        font-size: 14pt;
        font-weight: bold;
        color: #6c757d;
    }
    .desc-stat {
        margin-top: -15px;
        font-size: 10pt;
        color: #bbb;
    }
    .images {
        width: 80%;
        text-align: center;
        margin-top: 25px;
        margin: 25px 40px;
        padding-bottom: 25px;
        font-size: 10pt;
        color: #bbb;
        border-bottom: 1px solid #ededed;
        a {
            margin-top: -1em;
            margin-bottom: 0.5em;
        }
        a:hover {
            text-decoration: none;
        }
        .img-row {
            margin-left: -1.5em;
        }
        img {
            display: inline-block;
            border: 3px solid #fcfcfc;
            transform: scale(0.95);
            transition: box-shadow 0.5s, transform 0.5s;
            &:hover {
                box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25), 0 3px 3px rgba(0, 0, 0, 0.22);
                cursor: pointer;
            }
        }
    }
    .right-page {
        padding: 0 25px 0 25px !important;
    }
    .nav {
        display: inline-flex;
    }
    .nav li {
        margin: 40px 10px 0 10px;
        cursor: pointer;
        font-size: 13pt;
        text-transform: uppercase;
        font-weight: 500;
        color: #888;
    }
    .nav li a {
        color: #888;
    }
    .nav li:hover,
    .nav li .active {
        color: $primary;
        border-bottom: 2px solid $primary;
    }
    .nav li:hover {
        background-color: $light;
    }
    .follow {
        position: absolute;
        right: 8%;
        top: 35px;
        font-size: 11pt;
        background-color: $primary;
        color: #fff;
        padding: 8px 15px;
        cursor: pointer;
        transition: all .4s;
        font-weight: 400;
    }
    .follow:hover {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), 0 0 15px rgba(0, 0, 0, 0.2);
    }
    @media (max-width:990px) {
        .nav {
            padding-left: 25%;
            padding-right: 25%;
        }
        .nav-item {
            width: 100%;
            display: block;
            text-align: center;
        }
        .follow {
            width: 50%;
            margin-left: 25%;
            display: block;
            position: unset;
            text-align: center;
            margin-top: 20px;
        }
    }
    #services {
        .wrapper {
            width: 300px;
            height: 370px;
            background: white;
            margin: auto;
            position: relative;
            overflow: hidden;
            border-radius: 10px 10px 10px 10px;
            box-shadow: 0;
            transform: scale(0.95);
            transition: box-shadow 0.5s, transform 0.5s;
            padding: 0;
            &:hover {
                transform: scale(1);
                box-shadow: 5px 12px 20px rgba(0, 0, 0, 0.2);
            }
            .container {
                width: 100%;
                height: 100%;
                margin: 0;
                .top {
                    height: 60%;
                    width: 100%;
                    background: url('/imgs/car-service.jpg');
                    background-size: cover;
                    -webkit-background-size: 100%;
                    -moz-background-size: 100%;
                    -o-background-size: 100%;
                    background-size: 100%;
                }
                .bottom {
                    width: 100%;
                    height: 40%;
                    transition: transform 0.5s;
                    h1 {
                        margin: 0;
                        padding: 0;
                    }
                    p {
                        margin: 0;
                        padding: 0;
                    }
                    .left {
                        height: 100%;
                        background: #f4f4f4;
                        .details {
                            padding-top: 2px;
                            padding-left: 40px;
                        }
                        .buy {
                            height: 100%;
                            background: #f1f1f1;
                            transition: background 0.5s;
                            border-left: solid thin rgba(0, 0, 0, 0.1);
                            padding: 2.7em 0em;
                            i {
                                font-size: 30px;
                                color: $info;
                                transition: transform 0.5s;
                            }
                            &:hover {
                                cursor: pointer;
                                background: #A6CDDE;
                            }
                            &:hover i {
                                transform: translateY(15px);
                                color: $secondary;
                            }
                        }
                    }
                    .right {
                        background: $dark;
                        color: white;
                        height: 100%;
                        overflow: hidden;
                        .details {
                            padding: 20px;
                            float: right;
                            width: calc(70% - 40px);
                        }
                        .done {
                            align-content: center;
                            display: flex;
                            width: calc(35% - 1px);
                            float: left;
                            transition: transform 0.5s;
                            border-right: solid thin rgba(255, 255, 255, 0.3);
                            height: 100%;
                            i {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 30px;
                                padding: 30px;
                                color: white;
                                width: 100%;
                            }
                        }
                        .remove {
                            align-content: center;
                            display: flex;
                            width: calc(35% - 1px);
                            clear: both;
                            border-right: solid thin rgba(255, 255, 255, 0.3);
                            height: 100%;
                            background: $primary;
                            transition: transform 0.5s, background 0.5s;
                            &:hover {
                                cursor: pointer;
                                background: $warning;
                            }
                            &:hover i {
                                transform: translateY(5px);
                            }
                            i {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                transition: transform 0.5s;
                                font-size: 30px;
                                padding: 30px;
                                color: white;
                                width: 100%;
                            }
                        }
                        &:hover {
                            .remove,
                            .done {
                                transform: translateY(-100%);
                            }
                        }
                    }
                }
            }
            .inside {
                z-index: 9;
                background: $primary;
                width: 140px;
                height: 140px;
                position: absolute;
                top: -70px;
                right: -70px;
                border-radius: 0px 0px 200px 200px;
                transition: all 0.5s, border-radius 2s, top 1s;
                overflow: hidden;
                .icon {
                    position: absolute;
                    right: 85px;
                    top: 85px;
                    color: white;
                    opacity: 1;
                    font-size: 24px;
                }
                &:hover {
                    background-color: $primary;
                    width: 100%;
                    right: 0;
                    top: 0;
                    border-radius: 0;
                    height: 60%;
                    .icon {
                        opacity: 0;
                        right: 15px;
                        top: 15px;
                    }
                    .contents {
                        opacity: 1;
                        transform: scale(1);
                        transform: translateY(0);
                        color: $text-light;
                    }
                }
                .contents {
                    padding: 5%;
                    opacity: 0;
                    font-size: 16px;
                    transform: scale(0.5);
                    transform: translateY(-200%);
                    transition: opacity 0.2s, transform 0.8s;
                    table {
                        text-align: left;
                        width: 100%;
                    }
                    h1,
                    p,
                    table {
                        color: white;
                    }
                    p {
                        font-size: 13px;
                    }
                }
            }
        }
        .col-3 {
            padding: 0;
        }
        .desc-container {
            height: 70px;
            .desc {
                color: #999;
                button {
                    background-color: transparent;
                    color: $secondary;
                    border: none;
                }
                button:hover {
                    color: $dark;
                }
            }
        }
        .cart-btn {
            & {
                position: relative;
                bottom: 10px;
                left: 1em;
            }
            button {
                background-color: transparent;
                color: $primary;
                border: none;
            }
            button:hover {
                color: $secondary;
            }
        }
        .card {
            border-radius: 0px;
            border: 2px solid $light;
        }
        .card-body {
            padding: 0em;
            height: 150px;
        }
        .card-body:hover {
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
        }
        .moreText {
            display: none;
        }
    }
    .pagination {
        button {
            &.prev,
            &.next {
                width: 40px;
                height: 40px;
                margin: 5px;
            }
            border: none;
            border-radius: 50%;
            color: white;
            background-color: rgba(0,
            0,
            0,
            0.575);
            &:hover {
                background-color: hsla(0, 0%, 0%, 0.788);
            }
            &:disabled {
                background-color: hsla(0, 0%, 80%, 0.521);
                color: #6c757d;
            }
        }
    }
    #reviews {
        .card {
            background-color: hsla(0, 0%, 97%, 0.301);
            position: relative;
            border-radius: 10px 10px 10px 10px;
            box-shadow: 0;
            transform: scale(0.95);
            transition: box-shadow 0.5s, transform 0.5s;
            &:hover {
                transform: scale(1);
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
            }
        }
        .half-stars-rate {
            margin-left: -10px;
        }
        .feedback {
            text-align: center;
            margin: auto;
        }
        .comment--icon {
            position: relative;
            top: -35px;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background-color: $primary;
            margin: auto;
            padding: 8px;
            font-size: 14px;
            box-shadow: inset 1px 2px 1px 1px rgba(0, 0, 0, 0.2);
            &+.row {
                margin-top: -35px;
                a:hover {
                    text-decoration: none;
                }
            }
        }
        .icon {
            color: $text-light;
        }
        .user--info {
            text-align: left;
            display: inline-block;
            a {
                margin-top: -5px;
                display: block;
            }
        }
        .date {
            font-size: 14px;
            margin-top: -35px;
            display: block;
            color: $gray-400;
        }
        .user--image {
            width: 75px;
            height: 70px;
        }
        .user--comment {
            font-size: medium;
            text-align: left;
        }
    }
    #gallery {
        .image--btn {
            border: none;
            background-color: transparent;
        }
        img {
            position: relative;
            border-radius: 2px;
            box-shadow: 0;
            transform: scale(0.95);
            transition: box-shadow 0.5s, transform 0.5s;
            width: 100%;
            &:hover {
                transform: scale(1);
                box-shadow: 5px 12px 20px rgba(0, 0, 0, 0.2);
                border: 5px solid white;
            }
        }
    }
    #imageModal {
        background-color: rgba(0, 0, 0, 0.555);
        .modal-dialog {
            width: 100%;
        }
        .close {
            color: white;
            font-size: 32px;
            position: relative;
            top: 35px;
            right: 25px;
            z-index: 5;
            box-shadow: 5px 12px 20px rgba(0, 0, 0, 0.2);
            &:hover {
                color: $light;
                cursor: pointer;
            }
        }
        img {
            height: 500px;
        }
    }
}