@model Workshop.Models.WorkshopRate

<div class="modal fade" id="RateModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title text-muted">Rate this workshop</h6>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="">
                    <form asp-action="UserRate">
                        <input type="hidden" asp-for="Rate" id="Rate">
                        <input type="hidden" asp-for="WorkShopId" id="Rate">
                        <div class="row justify-content-center">
                            <div class="half-stars-rate">
                                <div class="rating-group">
                                    <input class="rating__input rating__input--none" checked name="rating2" id="rating2-0" value="0" type="radio">
                                    <label aria-label="0 stars" onclick="getRate(0)" class="rating__label" for="rating2-0">&nbsp;</label>
                                    <label aria-label="0.5 stars" onclick="getRate(0.5)" class="rating__label rating__label--half" for="rating2-05">
                                        <i class="rating__icon rating__icon--star fa fa-star-half"></i>
                                    </label>
                                    <input class="rating__input" name="rating2" id="rating2-05" value="0.5" type="radio">
                                    <label aria-label="1 star" onclick="getRate(1)" class="rating__label" for="rating2-10">
                                        <i class="rating__icon rating__icon--star fa fa-star"></i>
                                    </label>
                                    <input class="rating__input" name="rating2" id="rating2-10" value="1" type="radio">
                                    <label aria-label="1.5 stars" onclick="getRate(1.5)" class="rating__label rating__label--half" for="rating2-15">
                                        <i class="rating__icon rating__icon--star fa fa-star-half"></i>
                                    </label>
                                    <input class="rating__input" name="rating2" id="rating2-15" value="1.5" type="radio">
                                    <label aria-label="2 stars" onclick="getRate(2)" class="rating__label" for="rating2-20">
                                        <i class="rating__icon rating__icon--star fa fa-star"></i>
                                    </label>
                                    <input class="rating__input" name="rating2" id="rating2-20" value="2" type="radio">
                                    <label aria-label="2.5 stars" onclick="getRate(2.5)" class="rating__label rating__label--half" for="rating2-25">
                                        <i class="rating__icon rating__icon--star fa fa-star-half"></i>
                                    </label>
                                    <input class="rating__input" name="rating2" id="rating2-25" value="2.5" type="radio">
                                    <label aria-label="3 stars" onclick="getRate(3)" class="rating__label" for="rating2-30">
                                        <i class="rating__icon rating__icon--star fa fa-star"></i>
                                    </label>
                                    <input class="rating__input" name="rating2" id="rating2-30" value="3" type="radio">
                                    <label aria-label="3.5 stars" onclick="getRate(3.5)" class="rating__label rating__label--half" for="rating2-35">
                                        <i class="rating__icon rating__icon--star fa fa-star-half"></i>
                                    </label>
                                    <input class="rating__input" name="rating2" id="rating2-35" value="3.5" type="radio">
                                    <label aria-label="4 stars" onclick="getRate(4)" class="rating__label" for="rating2-40">
                                        <i class="rating__icon rating__icon--star fa fa-star"></i>
                                    </label>
                                    <input class="rating__input" name="rating2" id="rating2-40" value="4" type="radio">
                                    <label aria-label="4.5 stars" onclick="getRate(4.5)" class="rating__label rating__label--half" for="rating2-45">
                                        <i class="rating__icon rating__icon--star fa fa-star-half"></i>
                                    </label>
                                    <input class="rating__input" name="rating2" id="rating2-45" value="4.5" type="radio">
                                    <label aria-label="5 stars" onclick="getRate(5)" class="rating__label" for="rating2-50">
                                        <i class="rating__icon rating__icon--star fa fa-star"></i>
                                    </label>
                                    <input class="rating__input" name="rating2" id="rating2-50" value="5" type="radio">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Review" class="control-label"></label>
                                <textarea asp-for="Review" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Send" class="btn btn-primary btn-rounded float-right mt-4 mb-4" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>