<!DOCTYPE html>
<html>

<head>

    <title>Verfiy Email</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body style="background-color: #F4F4F4; margin: 0 !important; padding: 0 !important;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <!-- LOGO -->
        <tr>
            <td bgcolor="#E2AD21" align="center">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                    <tr>
                        <td align="center" valign="top" style="padding: 40px 10px 40px 10px;"> </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td bgcolor="#E2AD21" align="center" style="padding: 0px 10px 0px 10px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                    <tr>
                        <td bgcolor="#ffffff" align="center" valign="top" style="padding: 40px 20px 20px 20px; border-radius: 4px 4px 0px 0px; color: #111111; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 48px; font-weight: 400; letter-spacing: 4px; line-height: 48px;">
                            <img align="middle" alt="Forgot your password?" class="mcnImage" src="https://static.lingoapp.com/assets/images/email/il-password-reset@2x.png" style="-ms-interpolation-mode: bicubic; border: 0; height: auto; outline: none;
                            text-decoration: none; vertical-align: bottom; padding-bottom:
                            0; display: inline !important; vertical-align: bottom;" width="600"> </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td bgcolor="#f4f4f4" align="center" style="padding: 0px 10px 50px 10px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 640px;">
                    <tr bgcolor="#ffffff">
                        <td class="mcnTextContent" style='-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; word-break: break-word;
                                            color: #2a2a2a; font-family: "Asap", Helvetica, sans-serif; font-size: 16px;
                                            line-height: 150%; text-align: center; padding-top:9px; padding-right: 18px;
                                            padding-bottom: 9px; padding-left: 18px;' valign="top">
                            <h1 class="null" style='color: #2a2a2a; font-family: "Asap", Helvetica,
                                               sans-serif; font-size: 32px; font-style: normal; font-weight: bold; line-height:
                                               125%; letter-spacing: 2px; text-align: center; display: block; margin: 0;
                                               padding: 0'>
                                <span style="text-transform:uppercase">Forgot</span>
                            </h1>
                            <h2 class="null" style='color: #2a2a2a; font-family: "Asap", Helvetica,
                                               sans-serif; font-size: 24px; font-style: normal; font-weight: bold; line-height:
                                               125%; letter-spacing: 1px; text-align: center; display: block; margin: 0;
                                               padding: 0'>
                                <span style="text-transform:uppercase">your password?</span>
                            </h2>
                        </td>
                    </tr>
                    <tr bgcolor="#ffffff">
                        <td class="mcnTextContent" style='-ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; word-break: break-word;
                                            color: #2a2a2a; font-family: "Asap", Helvetica, sans-serif; font-size: 16px;
                                            line-height: 150%; text-align: center; padding-top:9px; padding-right: 18px;
                                            padding-bottom: 9px; padding-left: 18px;' valign="top">
                            Not to worry, we got you! Let's get you a new password.
                            <br>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" align="left">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td bgcolor="#ffffff" align="center" style="padding: 20px 30px 60px 30px;">
                                        <table border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td align="center" style="border-radius: 3px;" bgcolor="#E2AD21">
                                                    <a href="{0}" target="_blank" style="font-size: 20px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; padding: 15px 25px; border-radius: 2px; border: 1px solid #E2AD21; display: inline-block;">
                                                    Reset Password
                                                </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>
</body>

</html>