@model WorkshopPlatform.Models.Government

<form asp-controller="Admin" asp-action="UpdateGovernment">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Update" class="btn btn-primary float-right mt-4 mb-4" />
    </div>
</form>