@model List<Workshop.Models.WorkShop>
@{
    Layout = "_Layout2";
}

<div class="admin-dashboard">
    <div class="row">
    </div>
</div>

@section Scripts {
    <script>

        $('#table').dataTable({
        });
    </script>
}